altgraph==0.17.2
APScheduler==3.9.1
art==5.6
async-generator==1.10
attrs==22.1.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.12
colorama==0.4.5
comtypes==1.1.14
cryptography==37.0.4
dearpygui==1.5.1
future==0.18.2
glfw==2.5.4
h11==0.13.0
httplib2==0.20.4
idna==3.3
numpy==1.23.1
outcome==1.2.0
peewee==3.15.1
pefile==2022.5.30
pycparser==2.21
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.6
Pymem==1.8.5
PyOpenGL==3.1.6
pyOpenSSL==22.0.0
pyparsing==3.0.9
pypiwin32==223
PySocks==1.7.1
pyTelegramBotAPI==4.6.0
python-dotenv==0.20.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pywin32==304
pywin32-ctypes==0.2.0
pywinauto==0.6.8
rarfile==4.0
requests==2.27.1
schedule==1.1.0
selenium==4.3.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
tqdm==4.64.0
trio==0.21.0
trio-websocket==0.9.2
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
vk-api==11.9.8
webdriver-manager==3.8.3
wsproto==1.1.0
yadisk==1.2.15
